@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
$buttonColor: #6c63ff;

.learnMore {
  border-bottom: 7px solid $buttonColor;
  text-align: center;
  width: 104px;
}

.girlPhotoTwo {
  margin-left: 60px;
}

.inner-div {
  margin-right: 40px;
}
